body {
  background-color: #ebebeb;
  color: #7d7d7d;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  width: 70%;
  margin: auto;
  min-width: 300px;
  max-width: 1200px;
  text-align: center;
}

section {
  background-color: white;
  margin-bottom: 0;
}

h1 {
  color: #dd5555;
}

.prez {
  height: 52vh;
}

.prez-image {
  margin: auto;
  width: 150px;
  overflow: hidden;
}

.prez-image img {
  width: 120px;
  border-radius: 200px;
  border: solid 3px #ebebeb;
}

.prez button {
  background-color: #dd5555;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.warp-liste {
  height: 16vh;
  padding-top: 20px;
}

.liste {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 30px 30px 30px;
}

.movies {
  height: 62vh;
}

.movies h2 {

}

.movies h3 {
  margin-top: 45px;
  margin-bottom: 25px;
}

.movies img {
  height: 130px;
  width: 90px;
  float: left;
  clear: left;
  margin: 20px;
  position: sticky;
}

.movies p {
  margin-bottom: 50px;
  text-align: left;
}
