body {
  background-color: #ebebeb;
  color: #7d7d7d;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  width: 70%;
  margin: auto;
  min-width: 300px;
  max-width: 1200px;
  text-align: center;
}

section {
  background-color: white;
  margin-bottom: 0;
}

h1 {
  color: #dd5555;
}

.prez {
  height: 40vh;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.prez-image {
  border-radius: 100%;
  border: solid 4px #ebebeb;
  margin: auto;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.prez-image img {
  width: 100%;
}

.prez button {
  background-color: #dd5555;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.warp-liste {
  height: 14vh;
  padding-top: 30px;
  padding-top: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrap-list-facebook, .wrap-list-linkedin, .wrap-list-twitter {
  display: flex;
  flex-direction: column;
}

.wrap-list-facebook * .wrap-list-linkedin * .wrap-list-twitter {
  flex: 1;

}

.liste {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin-left: 50px;
  margin-right: 50px;
}

ul {
  display: inline-block;
}

.movies {
  height: 62vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.movies h2 {
  padding-top: 50px;
  padding-bottom: 30px;
}

.movies h3 {
  margin-top: 45px;
  margin-bottom: 25px;
}

.movies img {
  height: 130px;
  width: 90px;
  float: left;
  clear: left;
  margin: 20px;
  position: sticky;
}

.movies p {
  margin-bottom: 50px;
  text-align: left;
}

#His {
  background-color: #ebebeb;
}

a:link, a:visited, a:hover, a:active {
  opacity: 0.5;
  text-decoration: none;
}

.fa-facebook-f, .fa-linkedin-in, .fa-twitter {
  opacity: 0.1;
}
